@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: rgb(18, 18, 18);
}

.navbar-effect {
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.detailesPanelOverlay {
  background: linear-gradient(to top, rgb(17, 24, 39), rgba(255, 255, 255, 0));
}

.navbar-background {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.778),
    rgba(0, 0, 0, 0)
  );
}
.top10ListNumber {
  -webkit-text-stroke: 5px gray;
  -webkit-text-fill-color: black;
}

.signin,
.signup {
  /* background-image: url(".././public/img/background.jpg"); */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("./img/webpage/background.jpg");
  background-position: center;
  background-size: cover;
}

.homepage-background {
  background: linear-gradient(to top right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.contentholder {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.08), rgb(0, 0, 0));
}
.mainimage {
  background: linear-gradient(to top right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.cardtemplate {
  font-size: 12px;
}
.cardgenres {
  font-size: 12px;
}

.imgoverlay {
  background: linear-gradient(to top, rgb(18, 18, 18), rgba(255, 255, 255, 0));
}
